@model IEnumerable<PopCornOneWebApp.Models.Language>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            LanguageName
        </th>
        <th>
            Languages
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LanguageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LanguageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LanguageId })
        </td>
        <td>
			@item.LanguageName
        </td>
        <td>
			@(item.Languages == null ? "None" : item.Languages.Count.ToString())
        </td>
    </tr>
}

</table>


