@model IEnumerable<PopCornOneWebApp.Models.Language>
@{Layout = null;}
<table id="languagesTable">
    <thead>
        <tr>
            <th>
                Language Name
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageName)
                </td>
                <td>
                    <a id="openerEdit" class="edit" accesskey="@item.LanguageId" href="#" title="@item.LanguageName" onclick="OpenEditDialog(this)">
                        Edit</a>|
                    @Html.ActionLink("Delete", "Delete", new { id = item.LanguageId })
                </td>
            </tr>
        }
    </tbody>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languagesTable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers"
            }
            );
        });
    </script>
    <script type="text/javascript">
        $.fx.speeds._default = 1000;
        $(function () {
            $("#dialogAddNewLanguage").dialog({
                autoOpen: false,
                show: "blind",
                hide: "explode",
                buttons: {
                    Close: function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#opener").click(function () {
                $("#dialogAddNewLanguage").dialog("open");
                return false;
            });
        });
    </script>
    <script type="text/javascript">
        $.fx.speeds._default = 1000;
        $(function () {
            $("#dialogEditLanguage").dialog({
                autoOpen: false,
                show: "blind",
                hide: "explode",
                buttons: {
                    Close: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

        function OpenEditDialog(link) {
            var a = link;
            document.getElementById("LanguageName").value = a.title;
            $("#dialogEditLanguage").dialog("open");
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $("input:submit, a, button", ".demo").button();
            $("a", ".demo").click(function () { return false; });
        });
    </script>
    <script type="text/javascript">
        function addLanguage() {
            var name = document.getElementById("LanguageName").value;
            $.post(
                    "/Language/Create",
                     {
                         languageId: 0,
                         languageName: name
                     },
                     function (json) {
                         alert(json);
                         $("#dialogAddNewLanguage").dialog("close");
                     }, "json"
                    );
        }
    </script>
    <script type="text/javascript">
        function editLanguage() {
            var name = document.getElementById("LanguageName").value;
            $.post(
                    "/Language/Edit",
                     {
                         languageId: 0,
                         languageName: name
                     },
                     function (json) {
                         alert(json);
                         $("#dialogEditLanguage").dialog("close");
                     }, "json"
                    );
        }
    </script>
</table>
<div class="demo">
    <div id="dialogAddNewLanguage" title="Add New Language">
        @using (Html.BeginForm("Create", "Language"))
        {
            @Html.Partial("_CreateOrEdit", new PopCornOneWebApp.Models.Language())
            <br />
            <div class="demo">
                <input type="submit" value="Add Language" />
                <button type="button" onclick="addLanguage()">
                    Add Language Json</button>
            </div>
        }
    </div>
    <div id="dialogEditLanguage" title="Edit Language">
        @using (Html.BeginForm("Create", "Language"))
        {
            @Html.Partial("_CreateOrEdit", new PopCornOneWebApp.Models.Language())
            <br />
            <div class="demo">
                <button type="button" onclick="editLanguage()">
                    Edit Language</button>
            </div>
        }
    </div>
    <button id="opener">
        Add New Language</button>
</div>
