@model PopCornOneWebApp.Models.Origin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Origin</legend>

    <div class="display-label">OriginName</div>
    <div class="display-field">@Model.OriginName</div>

    <div class="display-label">OriginUrl</div>
    <div class="display-field">@Model.OriginUrl</div>

    <div class="display-label">Phrases</div>
    <div class="display-field">@(Model.Phrases == null ? "None" : Model.Phrases.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OriginId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


