@model IEnumerable<PopCornOneWebApp.Models.Origin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            OriginName
        </th>
        <th>
            OriginUrl
        </th>
        <th>
            Phrases
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OriginId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OriginId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OriginId })
        </td>
        <td>
			@item.OriginName
        </td>
        <td>
			@item.OriginUrl
        </td>
        <td>
			@(item.Phrases == null ? "None" : item.Phrases.Count.ToString())
        </td>
    </tr>
}

</table>


